            /* reset */
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            ul,
            ol,
            li {
                list-style: none;
            }
            
            body {
                gap: 2px;
                grid-template-areas: "header header header" "main main main" "footer footer footer";
                height: 100vh;
                /* width: 1fr; */
                /* overflow: hidden; */
            }
            
            header {
                grid-area: header;
                background-color: #F9F9F9;
                height: 100px;
            }
            
            main {
                background-color: tomato;
                grid-area: main;
                background-color: #F9F9F9;
                background-image: url(https://wallpaperaccess.com/full/1230653.jpg);
                background-size: cover;
                width: 100vw;
                height: 80vh;
            }
            
            .redesociais {
                position: absolute;
                display: grid;
                scroll-padding-left: 200px;
                grid-area: icons;
                place-content: center;
                gap: 32px;
                background-color: blueviolet;
                border-radius: 5px;
                width: 50px;
                height: 120px;
            }
            
            footer {
                grid-area: footer;
                background-color: #F9F9F9;
                height: 50px;
            }
            
            .Inicio {
                position: absolute;
                width: 60px;
                height: 18px;
                left: 650px;
                top: 32px;
                font-family: 'Jos';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #000000;
            }
            
            .Novidades {
                position: absolute;
                width: 60px;
                height: 18px;
                left: 710px;
                top: 27px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 29px;
                color: #000000;
            }
            
            .Sobre {
                position: absolute;
                width: 90px;
                height: 18px;
                left: 800px;
                top: 27px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 29px;
                color: #000000;
            }
            
            .Cardápio {
                position: absolute;
                width: 95px;
                height: 18px;
                left: 890px;
                top: 27px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 29px;
                color: #000000;
            }
            
            .Contato {
                position: absolute;
                width: 75px;
                height: 18px;
                left: 970px;
                top: 27px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 29px;
                color: #000000;
            }
            
            .Reserva {
                position: absolute;
                width: 177px;
                height: 29px;
                left: 1065px;
                top: 27px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 29px;
                /* identical to box height */
                color: #000000;
            }
            
            .area {
                position: absolute;
                width: 150px;
                height: 50px;
                left: 1050px;
                top: 17px;
                background: #D9D9D9;
                border-radius: 100px;
            }
            
            .home {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 620px;
                top: 30px;
            }
            
            .icon {
                position: absolute;
                width: 80px;
                height: 60px;
                left: 44px;
                top: 8px;
                border-radius: 100px;
            }
            /* main{

            display: grid;
            place-items: center start;
            grid-template-columns: 1fr 100px;
            grid-template-areas: "logo icons" "logo icons";
            width: 90vw;} */
            
            main {
                display: flex;
                justify-content: flex-end;
            }