reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

body {
    gap: 2px;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
    font-family: 'Jost', sans-serif;
}

header {
    background-color: #F9F9F9;
    display: flex; 
    justify-content: space-between;
    padding-top: 24px;
}

header .containerE{
    display: flex;
    padding-left: 16px;
}

.casinho{
    height: 25%;
    padding-top: 5px;
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-image: url(./img/donuts.jpg);
    background-size: cover; 
    background-position: center;
}

header .containerD {
    display: flex;
    justify-content: start;
    gap: 12px;
    padding-right: 16px;
    font-size: 'b';
}

ul{
    justify-content: start;
    display: flex;
    gap: 12px;
    padding-left: 0;
}

.Reserva {
    width: 150px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 100px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.322)),
    url('https://wallpaperaccess.com/full/1230653.jpg');
    background-size: cover;
    display: flex;
    align-items: center ;
    justify-content: center;
    position: relative;
}

h1{
position: relative;
color: #F9F9F9;
font-size: 5rem;
font-family: 'Lilita One', cursive;
font-size: 64px;
line-height: 73px;
width: 50%;
text-align: center;

}



.redesociais {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 50px;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 0px;
    top: 50%;
}

.redesociais img{
    height: 32px;
}


